<%
  id_image ||= ''
  url_image ||= ''
  image_options ||= {}
  version_name ||= {}
  label_title ||= "Image"
  choose_text ||= "Choose image"
%>
<div class="crimagify_item">
  <div data-img="<%= id_image %>" class="global_parent <%= id_image %>" name="<%= version_name %>">
  <%= hidden_field_tag "image_temporal_#{id_image}", {}, :value => "", :name => "image_temporal_#{id_image}", :class => "image_temporal image_temporal_#{id_image}" %>
       <label class="crimagify_label"><%= label_title %></label>
      <div class="crimagify_container">
        <div class="parent_image crimagify_parent_image"></div>
        <div class="crimagify_default_image">
          <span>
           <%= image_tag url_image, image_options %>
           </span>
        </div>
        <div class="crimagify_otions">
            <label class="crimagify_otions">
              <%= choose_text %>
            </label>
            <%= file_field_tag :image, :class => "nested_uploader crimagify_nested_uploader" %>
        </div>
        <div class="clear"></div>
      </div>
  </div>
</div>