<%
  id_image ||= ''
  url_image ||= ''
  image_options ||= {}
  version_name ||= {}
  label_title ||= "Image"
  choose_text ||= "Choose image"
%>
<div class="crimagify_item">
  <div data-img="<%= id_image %>" class="global_parent <%= id_image %>" name="<%= version_name %>">
  <%= hidden_field_tag "#{id_image}_image_temporal", {}, :value => "", :name => "#{id_image}_image_temporal", :class => "image_temporal #{id_image}_image_temporal" %>
       <label class="crimagify_label"><%= label_title %></label>
      <div class="crimagify_container">
        <div class="parent_image crimagify_parent_image"></div>
        <div class="crimagify_default_image">
          <span>
           <%= image_tag url_image, image_options %>
           </span>
        </div>
        <div class="crimagify_clear"></div>
        <div class="crimagify_otions">
             <div class="crimagify_inputs">
              <label class="crimagify_otions">
                <%= choose_text %>
              </label>
              <%= file_field_tag "", :name=>"crimagify_nested_uploader", :class => "nested_uploader crimagify_nested_uploader crimagify_uploader" %>
            </div>
            <div class="crimagify_loader">
              <div class="loader_container">
                <span class="image">
                  <%= image_tag "crimagify/loader.gif"%>
                </span>
              </div>
            </div>
        </div>
        <div class="crimagify_clear"></div>
      </div>
      <div class="crimagify_clear"></div>
  </div>
  
    <!--<div class="control-group string">
      <div class="rigth_element">
        <%#= hidden_field :_destroy,nil, :class => "remove" %>
        <%#= link_to "Remove this Product <i class='icon-remove'></i>".html_safe, '#', class: "remove_fields btn btn-danger" %>
      </div>
      <div class="clear"></div>
    </div>-->
</div>