<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <!--StartCropperImagesSection-->
  <%= images_id(@product) %>
  <%= image_cropper(@product, { image_name: "imgA", ratio: :user }, { :class => "img_start" }) %><br/>
  <%= image_cropper(@product, { image_name: "imgB", ratio: :user }, { :class => "img_start" }) %><br/>
  <!--StartCropperImagesSection-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
