<div class="fieldset_crimagify_nested">
	<fieldset>
		<div>
			<ul>
				<li>
					<%= f.label :name %>
				</li>
				<li>
					<%= f.text_field :name %><br>
				</li>
			</ul>	
		</div>
		<div>
			<ul>
				<li>
					<%= f.label :description %>
				</li>
				<li>
					<%= f.text_field :description %><br>
					<%#= f.text_field :crimagify_schema , :class => "crimagify_schema", :value => "" %>
				</li>
			</ul>	
		</div>
	</fieldset>
	<%= nested_images_id(f.object) %>
	<%= nested_image_cropper(f.object, { image_name: "imgA", ratio: :user, :label_title => "tralalal", :choose_text => "Elegir Imagen"}, { :class => "img_start" }) %>
	<%= nested_image_cropper(f.object, { image_name: "imgB", ratio: :big }, { :class => "img_start" }) %>
	<hr>
</div>


